{%extends 'index.html'%}
{%block title%}Blog Home{%endblock title%}

{%block content%}
    {% comment %}Django filters example{% endcomment %}
    <h1>
        We are in the blogs article filter
    </h1>
    <hr>
    <h2>
         Article : {{post_list.title|upper}} <br>
    </h2>
    <h3>Author: {{post_list.author|lower}}</h3>
    <h4>Date: {{post_list.date|date:"F j, Y"}}</h4>
    <h5>Content: {{post_list.content|truncatechars:20}}</h5>
    <h6>Price: ${{post_list.price|floatformat:2}}</h6>
    
{%endblock%}