{%extends 'index.html'%}
{%block title%}Blog Home{%endblock title%}

{%block content%}
    {% comment %}Django filters example{% endcomment %}
    <h1>
        We are in the blogs article filter
    </h1>
    <hr>
    <h2>
         Article : {{post_list.title|upper}} <br>
    </h2>
    <h3>Author: {{post_list.author|lower}}</h3>
    <h4>Date: {{post_list.date|date:"F j, Y"}}</h4>
    <h5>Content: {{post_list.content|truncatechars:20}}</h5>
    <h6>Price: ${{post_list.price|floatformat:2}}</h6>
    
    <h1>If else</h1>
    <p>{% if post_list.blogs.0.is_featured %}
        This is a featured article.
    {% else %}
        This is not a featured article.
    {% endif %}</p>

    <h1>For Loop</h1>
    {%for blog in post_list.blogs%}
    <ul>
        <li>Title: {{blog.title}}</li>
        <li>Author: {{blog.author}}</li>
        <li>Featured: {{blog.is_featured}}</li>
    </ul>
    {%endfor%}

    <h1>Use of With</h1>
    {%with post_list.blogs|length as blog_count%}
        <p>Number of blogs: {{blog_count}}</p>
    {%endwith%}

    <h1>Use of cycles</h1>
    <Table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Featured</th>
        </tr>
        {%for blog in post_list.blogs%}
        <tr style="background-color: {% cycle 'red' 'white' %}">
            <td>{{blog.title}}</td>
            <td>{{blog.author}}</td>
            <td>{{blog.is_featured}}</td>
        </tr>
        {%endfor%}
    
{%endblock%}